[ft12] {
  font-size: 12px;
}
[ft14] {
  font-size: 14px;
}
[ft16] {
  font-size: 16px;
}
[ft18] {
  font-size: 18px;
}
[ft20] {
  font-size: 20px;
}
[ft22] {
  font-size: 22px;
}
[ft24] {
  font-size: 24px;
}

[m-t-10] {
  margin-top: 10px;
}
[m-r-10] {
  margin-right: 10px;
}
[m-b-10] {
  margin-bottom: 10px;
}
[m-l-10] {
  margin-left: 10px;
}

[m-t-b-10],
[m-b-t-10] {
  margin-top: 10px;
  margin-bottom: 10px;
}
[m-l-r-10],
[m-r-l-10] {
  margin-left: 10px;
  margin-right: 10px;
}

[m-t-20] {
  margin-top: 20px;
}
[m-r-20] {
  margin-right: 20px;
}
[m-b-20] {
  margin-bottom: 20px;
}
[m-l-20] {
  margin-left: 20px;
}

[m-t-b-20],
[m-b-t-20] {
  margin-top: 20px;
  margin-bottom: 20px;
}
[m-l-r-20],
[m-r-l-20] {
  margin-left: 20px;
  margin-right: 20px;
}
